<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - Abrakadabra</title>
    <link rel="icon" type="image/svg+xml" href="/images/abrakadabraico.png">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
   
    <header class="navbar">
        <nav class="ola">
            <img src="/images/logoo.png" alt="Logotipo" class="logo"> 
            <p><strong>Olá, seja bem-vindo!</strong></p>
        </nav>
        <nav>
            <a href="/telainicial.html"><strong>Início</strong></a>
            <a href="/menu.html"><strong>Status</strong></a>
            <a href="/relatorio.html"><strong>Relatório</strong></a>
            <a href="/index.html"><strong>Sair</strong></a>
        </nav>
    </header>
    
    <main class="status-box">
        <h1>Status</h1>
        <div class="status">
            <p><strong>Seu portão está:</strong> </p>
            <p><strong>Dia e horário que foi fechado:</strong></p>
        </div>
        <button class="btn" id="servoBtn" onclick="alternar()">Carregando...</button>
    </main>

    <div class="shape"></div>

    <script src="/js/servo.js"></script>
</body>
</html>